{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/form.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:url" content="https://url/create-ticket" />
    <title>Untitled</title>
    <meta property="og:title" content="Untitled" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body class="w-body">
    <div
      class="w-box c1lijzsd c1uawj8t ckwlzlk c1989sry c15p6v73 cwc8lle cn2ox1e c4nlleq"
    >
      <form
      method="post"
        class="form w-form cwc8lle cdcaul cn2ox1e ckwlzlk c3uvt9t cvhiar3 cwet28m c1qek586 ceqylgn cl03xs8 c1dgjgm1 cl3aefy c4nlleq c10f8xn6 ctsee0d c7rw4nc cgamfdx cqn71a8 c5kw0tu c38nh7v c1048q51 c1ik6q69 cc6doim c12bmi33 c59hyy4 c5mnqdr c10ga5ek cptb6uc c126txz0 c1frzoan c73pma c1klhcmf c1eslnsq c8m2n0q"
      >
      {% csrf_token %}
      
      <input
          placeholder="Title"
          name="name"
          required=""
          autofocus=""
          class="w-text-input cejakx3 czjz5t7 c1adytck clrpvtn c19pr9lk ctmcbbo c41a3rb c1kuu3hp c1mn7rik cwet28m c9gngpw c1qek586 c4n7sgj c61u1lu"
          type="text"
        /><textarea
          placeholder="Description"
          name="description"
          class="w-text-area c1r6qvjn c11fvsvu c1spnc7s c14uinbq cj13m3f c1opwp0g"
        ></textarea
        ><select class="w-select" name="priority">
          <option
            label="Priority"
            value=""
            disabled selected
            class="w-option"
          ></option>
          <option label="Critical" value="critical" class="w-option"></option>
          <option label="Urgent" value="urgent" class="w-option"></option>
          <option label="Normal" value="normal" class="w-option"></option>
          <option label="Not Important" value="not_important" class="w-option"></option>
          </select
        >
        <select class="w-select" name="category">
          <option
            label="Type"
            value=""
            disabled selected
            class="w-option"
          ></option>
          <option label="Problem" value="problem" class="w-option"></option>
          <option label="Question" value="question" class="w-option"></option>
          <option label="Request Development" value="request_development" class="w-option"></option>
          <option label="Event" value="event" class="w-option"></option>
          </select
        >
        <select class="w-select" name="expert">
          <option
            label="Expert"
            value=""
            disabled selected
            class="w-option"
          ></option>
          {%for expert in experts%}
            <option label="{{expert}}" value="{{expert}}" class="w-option"></option>
          {%endfor%}
          </select
        ><button
          type="submit"
          class="w-button crg0o1g c1y549pj c1n7648y c14nzfjv c1nt67fw cjjgqri c1rddl61 c159vf6e c184qw0g"
        >
          Send
        </button>
      </form>
    </div>
    <script id="vike_pageContext" type="application/json">
      {
        "abortReason": "!undefined",
        "_urlRewrite": null,
        "_urlRedirect": "!undefined",
        "abortStatusCode": "!undefined",
        "_abortCall": "!undefined",
        "_pageContextInitIsPassedToClient": "!undefined",
        "_pageId": "/pages/create-ticket",
        "routeParams": {},
        "data": {
          "url": "https://url/create-ticket",
          "system": { "params": {}, "search": {}, "origin": "https://url" },
          "resources": {},
          "pageMeta": {
            "title": "Untitled",
            "description": "",
            "excludePageFromSearch": true,
            "language": "",
            "socialImageAssetName": "!undefined",
            "socialImageUrl": "",
            "status": 200,
            "redirect": "",
            "custom": []
          }
        }
      }
    </script>
    
    <script
      src="{% static 'entries/entry-server-routing.js' %}"
      type="module"
      async
    ></script>
    <link
      rel="modulepreload"
      href="{% static 'entries/pages_create-ticket.js' %}"
      as="script"
      type="text/javascript"
    /><link
      rel="modulepreload"
      href="{% static 'chunks/chunk.js' %}"
      as="script"
      type="text/javascript"
    />
  </body>
</html>
